:root {
  --color-primary: #3FCF8E;
  --color-secondary: #1C2B4A;
  --color-background: #F9FAFB;
  --color-text-main: #2E2E2E;
  --color-text-secondary: #6A707C;
  --color-info: #58B4E0;
  --color-danger: #EF5B5B;
}
